input[type=text], 
input[type=email], 
textarea {
    border: 2px solid #ccc;
}

input[type=text]:focus,
input[type=email]:focus, 
textarea:focus {
    border-color: blue;
}

input[type=text].error, 
input[type=email].error, 
textarea.error{
    border-color: red;
}

input[type=text].valid,
input[type=email].valid, 
textarea.valid {
    border-color: green;
}