:root {
    --red: #dc3545;
  }
/* *** FORM *** */
form{
    text-align: left;
}
form .header{
    text-align: center;
    margin-bottom: 20px;
}
form p{
    margin-top: 0;
}
input{
    box-sizing: border-box;
}
input{
    width: 100%;
    margin: 5px 0;
    padding: 2%;
}
input[type=reset]{
    display: block;
    margin: 15px auto 0;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
input[type=submit]{
    display: block;
    margin: 15px auto 0;
    border: none;
}

input.invalid, 
textarea.invalid,
select.invalid{
    border-color:  var(--red);;
}

input.valid, 
textarea.valid,
select.valid {
    border-color: green;
}

input, 
textarea,
select {
    border: 2px solid #ccc;
    outline: none;
}

input:focus, 
textarea:focus,
select:focus {
    border-color: blue;
}

/* Error messages */
.errorMessage,
#noSuccessMessage{
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0s linear 0.3s;
    font-size: 0.875rem;
    color: var(--red);
}
.errorMessage.visible,
#noSuccessMessage.visible{
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0s linear 0s;
}

#noSuccessMessage,
#successMessage{
    text-align: center;
}

/* Character counter message field */
.text-color{
    font-size: 0.875rem;
    color:  var(--red);
    opacity: 1;
} 

.text-color.color-change{
    color: green;
}