input[type=text], 
input[type=email], 
textarea {
    border: 2px solid #ccc;
    outline: none;
}

input[type=text]:focus,
input[type=email]:focus, 
textarea:focus {
    border-color: blue;
}

input[type=text].error, 
input[type=email].error, 
textarea.error{
    border-color: #dc3545;
}

input[type=text].valid,
input[type=email].valid, 
textarea.valid {
    border-color: green;
}

/* Error message email */
.errorMessage{
    opacity: 0;
    font-size: smaller;
    color: #dc3545;
    transition: 0.5s all ease-in-out;
}
.errorMessage.visible{
    opacity: 1;
}

/* Character counter message field */
.text-color{
    color: #dc3545;
    opacity: 1;
} 

.text-color.color-change{
    color: green;
}