:root {
    color-scheme: light dark;
    --gray: #393E41;
    --beige: #E7E5DF;
    --white: #f5f5f2;
    --green: #44BBA4;
  }
html{
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    color: var(--gray);
    font-family: Trebuchet MS, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* *** HEADERS *** */
h1{font-size: 3em;}
h2{margin: 3rem 0 0;}
h3{margin: 2rem 0 0;}

/* *** LINKS & BUTTONS *** */
a{
    color: var(--green); 
    font-weight: bold;
}
a:hover{text-decoration: none;}
a:focus{border: 2px solid var(--green);}
.button{
    background-color: var(--green); 
    color: var(--white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s all ease-in-out;
}
.button:hover{
    background-color: var(--gray);
    text-decoration: none;
}
.button:focus{
    background-color: var(--green);
    border: 2px solid var(--beige);
    text-decoration: none;
}

/* *** GENERAL *** */
.align-center{
    text-align: center;
}

/* *** HEADER *** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    padding: 1.5rem 3rem;
    flex-direction: column;
} 
header h1{
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--white);
}
nav a{
    padding: 0.5em;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
nav a:focus{
    border: 2px solid var(--green);
}
nav a.button{
    display: block;
    width: fit-content;
    margin: 10px auto;
}
nav a.button:hover{
    background-color: var(--beige);
    color: var(--gray);
}
nav a>img{
    max-height: 1rem;
    margin-right: 0.5rem;
}

/* *** MAIN *** */
main, footer{
    padding: 3rem;
}
main{
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
/* *** ASIDE *** */
aside>div{
    border: 2px solid var(--gray);
    padding: 2rem;
}
aside img{
    border-radius: 50%;
    max-width: 200px;
    text-align: center;
}
/* *** FOOTER *** */
footer{
    background-color: var(--gray);
    color: var(--white);
    text-align: center;
}
footer h4{
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}
footer address a{
    text-decoration: none;
    font-style: normal;
}
footer address a:hover{
    text-decoration: underline;
}
footer small{
    display: block;
    margin-top: 1.5rem;
}

/* *** GALLERY *** */
.gallery{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* *** TABLE *** */
table{
    /*min-width: 500px;*/
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
th{
    font-size: 0.875em;
    padding: 5px 0.5%;
}
th:first-child{
    text-align: left;
}
td{
    border-top: 1px solid black;
    width: 12%;
    padding: 5px 0.5%;
    text-align: center;
}

/* *** FORM *** */
form h3{
    margin-bottom: 8px;
}
input{
    box-sizing: border-box;
}
input[type=text], input[type=email]{
    width: 100%;
    margin: 5px 0;
    padding: 2%;
}
input[type=submit]{
    display: block;
    margin: 15px auto 0;
    border: none;
}

/* *** MEDIA QUERIES *** */
@media screen and (min-width: 800px){
    header, main{
        flex-direction: row;
    }
    nav a.button{
        display: inline;
    }
    main{
        display: flex;
        row-gap: 20px;
        column-gap: 10%;
    }
    article{
        width: auto;  
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
} 

@media screen and (min-width: 600px){
    .gallery{
        flex-direction: row;
        justify-content: space-between;
    }
    .gallery img{
        width: 33%;
    }
    table{
        min-width: 500px;
    };
}